[Desktop Entry]
Name=CLion
Exec=/opt/jetbrains-clion/bin/clion.sh
Icon=/opt/jetbrains-clion/bin/clion.svg
Comment=Powerful IDE for C and C++
Type=Application
Terminal=false
NoDisplay=false
Categories=Development;IDE;
