[Desktop Entry]
Name=Pycharm
Exec=/opt/jetbrains-pycharm/bin/pycharm.sh
Icon=/opt/jetbrains-pycharm/bin/pycharm.png
Comment=The most intelligent Python IDE
Type=Application
Terminal=false
NoDisplay=false
Categories=Development;IDE;
